<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&J Diner</title>
    <!--------------------- font awsome cdn link ---------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!--------------------- SWIPER LINK ---------------------->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
    <!--------------------- link to css ---------------------->
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>

<!-----------------------------------NAV SECTION--------------------------------->
        <header>
            <img class="logo" src="/images/logo/1.jpg" alt="D&J logo" />
    
            <div id="menu-bar" class="fas fa-bars"></div>
    
            <nav class="navbar">
            <a href="#home">HOME</a> 
            <a href="#menu">MENU</a> 
            <a href="#socials">FOLLOW US</a>
            <a href="reservation">RESERVATION</a>
            </nav>

            <a href="/users/logout" class="logout">Logout</a>
        </header>
<!-----------------------------------HOME SECTION--------------------------------->


        <section class="main-page">
            
            <section class="home" id="home">
                <div class="home-content">
                    <h3>Food made with love by D&J diner</h3>
                    <p>
                        “Food is one part of the experience. And it has to be somewhere
                        between 50 to 60 percent of the dining experience. But the rest counts
                        as well: The mood, the atmosphere, the music, the feeling, the design,
                        the harmony between what you have on the plate and what surrounds the
                        plate.” – Alain Ducasse, Chef.
                    </p>
                </div>
            
                <div class="image">
                    <img src="../images/logo/1.jpg" alt="" />
                </div>
            </section>
<!-----------------------------------FOOD SECTION--------------------------------->
            
    <section class="menu" id="menu">
        <div class="swiper-container home-slider">

            <div class="swiper-wrapper wrapper">
<!-----------------------------------CORNDOG SECTION--------------------------------->
                <div class="swiper-slide slide">

                    <div class="image">
                        <img src="../images/Snacks/unniecorndog.jpg" alt="">
                    </div>

                    <div class="content">

                        <span>Popular</span>
                        <h3>Unnie Corndog</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="reservation" class="btn">order now</a>
                    </div>
                    
                </div>

                <div class="swiper-slide slide">
                    <div class="image">
                        <img src="../images/Snacks/laspatatas.jpg" alt="">
                    </div>
                    <div class="content">

                        <span>Popular</span>
                        <h3>Las Patatas</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="reservation" class="btn">order now</a>
                    </div>

                </div>
                <div class="swiper-slide slide">

                    <div class="image2">
                        <img src="../images/Snacks/quezzoclassic.jpg" alt="">
                    </div>

                    <div class="content">

                        <span>Popular</span>
                        <h3>Quezzo Classic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="reservation" class="btn">order now</a>
                    </div>
                    

                </div>
                <div class="swiper-slide slide">
                    <div class="image">
                        <img src="../images/Snacks/mozzaclassic.jpg" alt="">
                    </div>
                    <div class="content">

                        <span>Popular</span>
                        <h3>Mozza Classic</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="reservation" class="btn">order now</a>
                    </div>
                    

                </div>
                <div class="swiper-slide slide">
                    <div class="image">
                        <img src="../images/Snacks/corndogramen.jpg" alt="">
                    </div>
                    <div class="content">

                        <span>Popular</span>
                        <h3>Corndog Ramen</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="reservation" class="btn">order now</a>
                    </div>
                    

                </div>
<!-----------------------------------MILKTEA SECTION--------------------------------->

<div class="swiper-slide slide">
    <div class="image">
        <img src="../images/Drinks/MATCHA.jpg" alt="">
    </div>
    <div class="content">

        <span>Popular</span>
        <h3>Matcha</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
        <a href="reservation" class="btn">order now</a>
    </div>
    

</div>
<div class="swiper-slide slide">
    <div class="image">
        <img src="../images/Drinks/DARKCHOCOLATE.jpg" alt="">
    </div>
    <div class="content">

        <span>Popular</span>
        <h3>Dark Chocolate</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
        <a href="reservation" class="btn">order now</a>
    </div>
    

</div>
<div class="swiper-slide slide">
    <div class="image">
        <img src="../images/Drinks/WINTERMELON.jpg" alt="">
    </div>
    <div class="content">

        <span>Popular</span>
        <h3>Wintermelon</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
        <a href="reservation" class="btn">order now</a>
    </div>
    

</div>

            </div>

                <div class="swiper-pagination"></div>
        </div>
    </section>

<!-----------------------------------ALL FOODS--------------------------------->

<section class="dishes" id="dishes">

    <h3 class="sub-heading">Foods</h3>
    <h1 class="heading">Chicken Wings</h1>
<!-----------------------------------CHICKEN WINGS--------------------------------->
    <div class="box-container">
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/Chicken-Wings/BUFFALOWINGS.jpg" alt="">
            <h3>Buffalo Wings</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 189</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/Chicken-Wings/HONEY GLAZED CHICKEN WINGS.jpg" alt="">
            <h3>Honey Glazed Chicken Wings</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 179</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/Chicken-Wings/SPICY GARLIC BUFFALO CHICKEN.jpg" alt="">
            <h3>Spicy Garlic Buffalo Chicken</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 189</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
    </div>
<!-----------------------------------SILOG MEALS--------------------------------->
<h1 class="heading">Silog Meals</h1>
    <div class="box-container">
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/HOTSILOG.jpg" alt="">
            <h3>Hotsilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 99</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/LONGSILOG.jpg" alt="">
            <h3>Longsilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 109</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/HAMSILOG.jpg" alt="">
            <h3>Hamsilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 109</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/TOSILOG.jpg" alt="">
            <h3>Tosilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 109</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/SPAMSILOG.jpg" alt="">
            <h3>Spamsilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 109</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/CHICKSILOG.jpg" alt="">
            <h3>Chicksilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 119</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/BANGSILOG.jpg" alt="">
            <h3>Bangsilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 119</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/PORKSILOG.jpg" alt="">
            <h3>Porksilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 129</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/SISILOG.jpg" alt="">
            <h3>Sisilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 159</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/SilogMeals/TAPSILOG.jpg" alt="">
            <h3>Tapsilog</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 149</span>
            <a href="reservation" class="btn">Order Now</a>
        </div>
    </div>
    <!-----------------------------------PLATTERS--------------------------------->
<h1 class="heading">Platters</h1>
<div class="box-container">
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Platters/LUMPIANG SHANGHAI.jpg" alt="">
        <h3>Lumpiang Shanghai</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 80</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Platters/SWEET & SOUR.jpg" alt="">
        <h3>Sweet and Sour</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 189</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Platters/CHAPSUEY.jpg" alt="">
        <h3>chapsuey</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 220</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Platters/SISIG.jpg" alt="">
        <h3>Sisig</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 220</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Platters/SINIGANG.jpg" alt="">
        <h3>sinigang na baboy</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 250</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
</div>
    <!-----------------------------------NOODLES & PASTA--------------------------------->
<h1 class="heading">Noodles and Pasta</h1>
<div class="box-container">
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Noodles&Pasta/SPAGHETTI1.jpg" alt="">
        <h3>Spaghetti</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 55</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Noodles&Pasta/CARBONARA.jpg" alt="">
        <h3>Carbonara</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 99</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Noodles&Pasta/SOTANGHON.jpg" alt="">
        <h3>Sotanghon</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 260</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
</div>
<!-----------------------------------SNACKS--------------------------------->
<h1 class="heading">Snacks</h1>
<div class="box-container">
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Snacks/fries.jpg" alt="">
        <h3>Fries</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 69</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Snacks/unniecorndog.jpg" alt="">
        <h3>Unnie Corndog</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 55</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Snacks/laspatatas.jpg" alt="">
        <h3>Laspatatas</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 60</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Snacks/corndogramen.jpg" alt="">
        <h3>Corndog Ramen</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 60</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Snacks/mozzaclassic.jpg" alt="">
        <h3>Mozza Classic</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 95</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Snacks/quezzoclassic.jpg" alt="">
        <h3>Quezzo Classic</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 80</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Snacks/quezzomozzaclassic.jpg" alt="">
        <h3>Quezzo n' Mozza Classic</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>&#8369; 90</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
</div>

<!-----------------------------------DRINKS SECTION--------------------------------->
<h3 class="sub-heading">Drinks</h3>
<h1 class="heading">Milktea</h1>
<div class="box-container">
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/TARO.jpg" alt="">
        <h3>Taro</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/MATCHA.jpg" alt="">
        <h3>Matcha</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/OKINAWA.jpg" alt="">
        <h3>Okinawa</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/HOKKAIDO.jpg" alt="">
        <h3>Hokkaido</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/WINTERMELON.jpg" alt="">
        <h3>Wintermelon</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/CHOCOLATE.jpg" alt="">
        <h3>Chocolate</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/RED VELVET.jpg" alt="">
        <h3>Red Velvet</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/BLACK FOREST.jpg" alt="">
        <h3>Black Forest</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/COOKIES & CREAM.jpg" alt="">
        <h3>Coockies & Cream</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/DARKCHOCOLATE.jpg" alt="">
        <h3>Dark Chocolate</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 39</span>
        <span>22oz &#8369; 49</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
</div>

<h1 class="heading">Frappe</h1>
<div class="box-container">
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/MANGO GRAHAM.jpg" alt="">
        <h3>Mango Graham</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 60</span>
        <span>22oz &#8369; 70</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/CARAMEL CHOCO.jpg" alt="">
        <h3>Caramel Choco</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 60</span>
        <span>22oz &#8369; 70</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/DOUBLE CHOCOLATE.jpg" alt="">
        <h3>Double Chocolate</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 60</span>
        <span>22oz &#8369; 70</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/MOCHA.jpg" alt="">
        <h3>Mocha</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 60</span>
        <span>22oz &#8369; 70</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
    <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="../images/Drinks/STRAW BERRY.jpg" alt="">
        <h3>Strawberry</h3>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <span>16oz &#8369; 60</span>
        <span>22oz &#8369; 70</span>
        <a href="reservation" class="btn">Order Now</a>
    </div>
</div>

    <!-----------------------------------END SECTION--------------------------------->
</section>


<!-----------------------------------FOOTER--------------------------------->
    <footer id="socials">
        <a href="https://web.facebook.com/profile.php?id=100085932051209" target="_blank"> <i class="fa-brands fa-facebook"></i></a>

        <a href="https://www.instagram.com/dj.diner/" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
        
        <i class="fa-brands fa-tiktok"></i>
    </footer>
    <footer" class="footer2">
        <h4>&copy; 2022 by JpMayor <div class="fas fa-heart"></div></h4>
    </footer>
        </section>

<!-----------------------------------END LINE--------------------------------->

<!-----------------------------------SWIPER LINK--------------------------------->

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
<script src="/js/main.js"></script>

</body>
</html>