<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&J Diner</title>
    <!--------------------- font awsome cdn link ---------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!--------------------- SWIPER LINK ---------------------->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
    <!--------------------- link to css ---------------------->
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>

<!-----------------------------------NAV SECTION--------------------------------->
        <header>
            <img class="logo" src="/images/logo/1.jpg" alt="D&J logo" />
    
            <div id="menu-bar" class="fas fa-bars"></div>
    
            <nav class="navbar">
            <a href="#home">HOME</a> 
            <a href="#menu">MENU</a> 
            <a href="#socials">FOLLOW US</a>
            <a href="reservation">RESERVATION</a>
            </nav>

            <a href="/users/logout" class="logout">Logout</a>
        </header>
<!-----------------------------------HOME SECTION--------------------------------->


        <section class="main-page">
            
            <section class="home" id="home">
                <div class="home-content">
                    <h3>Food made with love by D&J diner</h3>
                    <p>
                        “Food is one part of the experience. And it has to be somewhere
                        between 50 to 60 percent of the dining experience. But the rest counts
                        as well: The mood, the atmosphere, the music, the feeling, the design,
                        the harmony between what you have on the plate and what surrounds the
                        plate.” – Alain Ducasse, Chef.
                    </p>
                </div>
            
                <div class="image">
                    <img src="../images/logo/1.jpg" alt="" />
                </div>
            </section>
<!-----------------------------------FOOD SECTION--------------------------------->
            
    <section class="menu" id="menu">
        <div class="swiper-container home-slider">

            <div class="swiper-wrapper wrapper">
<!-----------------------------------CORNDOG SECTION--------------------------------->
                <div class="swiper-slide slide">

                    <div class="image">
                        <img src="../images/Snacks/unniecorndog.jpg" alt="">
                    </div>

                    <div class="content">

                        <span>Special dish</span>
                        <h3>Unnie Corndog</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    
                </div>

                <div class="swiper-slide slide">
                    <div class="image">
                        <img src="../images/Snacks/laspatatas.jpg" alt="">
                    </div>
                    <div class="content">

                        <span>Special dish</span>
                        <h3>Las Patatas</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="#" class="btn">order now</a>
                    </div>

                </div>
                <div class="swiper-slide slide">

                    <div class="image2">
                        <img src="../images/Snacks/quezzoclassic.jpg" alt="">
                    </div>

                    <div class="content">

                        <span>Special dish</span>
                        <h3>Las Patatas</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    

                </div>
                <div class="swiper-slide slide">
                    <div class="image">
                        <img src="../images/Snacks/mozzaclassic.jpg" alt="">
                    </div>
                    <div class="content">

                        <span>Special dish</span>
                        <h3>Las Patatas</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
                        <a href="#" class="btn">order now</a>
                    </div>
                    

                </div>
<!-----------------------------------MILKTEA SECTION--------------------------------->

<div class="swiper-slide slide">
    <div class="image">
        <img src="../images/Drinks/MATCHA.jpg" alt="">
    </div>
    <div class="content">

        <span>Special drinks</span>
        <h3>Matcha</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
        <a href="#" class="btn">order now</a>
    </div>
    

</div>
<div class="swiper-slide slide">
    <div class="image">
        <img src="../images/Drinks/DARKCHOCOLATE.jpg" alt="">
    </div>
    <div class="content">

        <span>Special Drinks</span>
        <h3>Dark Chocolate</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
        <a href="#" class="btn">order now</a>
    </div>
    

</div>
<div class="swiper-slide slide">
    <div class="image">
        <img src="../images/Drinks/WINTERMELON.jpg" alt="">
    </div>
    <div class="content">

        <span>Special drinks</span>
        <h3>Wintermelon</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nobis earum nisi!</p>
        <a href="#" class="btn">order now</a>
    </div>
    

</div>

            </div>

                <div class="swiper-pagination"></div>
        </div>
    </section>

<!-----------------------------------ALL FOODS--------------------------------->

<section class="dishes" id="dishes">

    <h3 class="sub-heading"> Our Dishes</h3>
    <h1 class="heading">Chicken Wings</h1>

    <div class="box-container">
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/Chicken-Wings/BUFFALOWINGS.jpg" alt="">
            <h3>Tasty Food</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 189</span>
            <a href="#" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/Chicken-Wings/HONEY GLAZED CHICKEN WINGS.jpg" alt="">
            <h3>Tasty Food</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 189</span>
            <a href="#" class="btn">Order Now</a>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../images/Chicken-Wings/SPICY GARLIC BUFFALO CHICKEN.jpg" alt="">
            <h3>Tasty Food</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
            </div>
            <span>&#8369; 189</span>
            <a href="#" class="btn">Order Now</a>
        </div>
    </div>

</section>


<!-----------------------------------FOOTER--------------------------------->
    <footer id="socials">
        <a href="https://web.facebook.com/profile.php?id=100085932051209" target="_blank"> <i class="fa-brands fa-facebook"></i></a>

        <a href="https://www.instagram.com/dj.diner/" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
        
        <i class="fa-brands fa-tiktok"></i>
    </footer>
    <footer" class="footer2">
        <h4>A diner located in P - 3 South Poblacion, Jose Panganiban, Camarines Norte</h4>
    </footer>
        </section>

<!-----------------------------------END LINE--------------------------------->

<!-----------------------------------SWIPER LINK--------------------------------->

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
<script src="/js/main.js"></script>

</body>
</html>