<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <container class="main-container">
        <container class="form">
            <!-------------------------------------FORM 2---------------------------->
            <main-form class="main-form2">
                <h2>Reservation</h2>
                <label for="text">Your Name</label>
                <input type="text" class="input-box" required />
                <label for="email">Your Email</label>
                <input type="email" class="input-box" required />
                <label for="date">Date</label>
                <input type="date" class="input-box" required />
                <label for="time">Time</label>
                <input type="time" class="input-box" required />
                <label for="people">How Many People</label>
                <select class="input-box1" name="select" id="#">
                    <option value="1">1 person</option>
                    <option value="2">2 persons</option>
                    <option value="3">3 persons</option>
                    <option value="4">4 persons</option>
                    <option value="5">5 persons</option>
                    <option value="6">6 persons</option>
                    <option value="7">7 persons</option>
                    <option value="8">8 persons</option>
                    <option value="9">9 persons</option>
                    <option value="10">10 persons</option>
                    <option value="10">11 persons</option>
                    <option value="10">12 persons</option>
                    <option value="11">13 persons</option>
                    <option value="12">14 persons</option>
                    <option value="13">15 persons</option>
                    <option value="14">16 persons</option>
                    <option value="17">17 persons</option>
                    <option value="18">18 persons</option>
                    <option value="19">19 persons</option>
                    <option value="20">20 persons</option>
                </select>

                <button class="submit-btn">Reserve Now</button>
            </main-form>
            <main-form class="main-form2">
                <label class="lbl" for="orders">Write your orders here, Also kindly include how many, Thank you!</label>
                <textarea class="txt" id="orders" cols="50" rows="40"></textarea>
            </main-form>
        </container>
    </container>
</body>
</html>