<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fillupform Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/fillupform.css">
</head>
<body>
    <container class="main-container">
        <container class="form">
            <!-------------------------------------FORM---------------------------->
            <h2>Reservation</h2>
            <main-form class="main-form">
                <div class="form-left">
                    <h1>Time Open</h1>
                    <h2>Monday-Sunday</h2>
                    <p>8am - 11am (Breakfast)</p>
                    <p>11am - 10pm (Lunch/Dinner)</p>
                    <hr>
                    <h2>Contact Us</h2>
                    <div class="inner-form">
                    
                    <i class="fa-solid fa-phone"> 09090909090</i>

                    <a href="https://web.facebook.com/profile.php?id=100085932051209" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
    
                    <a href="https://www.instagram.com/dj.diner/" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
                </div>
                </div>
                <div class="form-right">
                <label for="text">Your Name</label>
                <input type="text" class="input-box" required />
                <label for="email">Your Email</label>
                <input type="email" class="input-box" required />
                <label for="date">Date</label>
                <input type="date" class="input-box" required />
                <label for="time">Time</label>
                <input type="time" class="input-box" required />
                <label for="people">How Many People</label>
                <select class="input-box" name="select" id="people">
                    <option value="1">1 person</option>
                    <option value="2">2 persons</option>
                    <option value="3">3 persons</option>
                    <option value="4">4 persons</option>
                    <option value="5">5 persons</option>
                    <option value="6">6 persons</option>
                    <option value="7">7 persons</option>
                    <option value="8">8 persons</option>
                    <option value="9">9 persons</option>
                    <option value="10">10 persons</option>
                    <option value="10">11 persons</option>
                    <option value="10">12 persons</option>
                    <option value="11">13 persons</option>
                    <option value="12">14 persons</option>
                    <option value="13">15 persons</option>
                    <option value="14">16 persons</option>
                    <option value="17">17 persons</option>
                    <option value="18">18 persons</option>
                    <option value="19">19 persons</option>
                    <option value="20">20 persons</option>
                </select>
                <label for="table">Select Table</label>
                <select class="input-box" name="select" id="table">
                    <option value="1">table 1 </option>
                    <option value="2">table 2 </option>
                    <option value="3">table 3 </option>
                    <option value="4">table 4 </option>
                    <option value="5">Family Table</option>
                </select>
            </div>
                
            </main-form>
            <button class="submit-btn" onclick="alert('Thank Your For Your Order!'), location.href='/users/reservation'" >Reserve Now</button>
        </container>
    </container>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>