<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fillupform Page</title>
    <!-- ANIMATION ON SCROLL LINK -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- icon link -->
    <link
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/fillupform.css">
</head>
<body>
        <section class="form">
            <!-------------------------------------FORM---------------------------->
            <h2>Reservation</h2>
            <div class="wrapper1">
                <div class="form-left">
                <div class="left-wrapper">
                <label for="text">Your Name</label>
                <input type="text" id="text" class="input-box" required />
                <label for="email">Your Email</label>
                <input type="email" id="email" class="input-box" required />
                <label for="number">Contact number</label>
                <input type="number" id="number" class="input-box" required />
                <label for="date">Date</label>
                <input type="date" id="date" class="input-box" required />
                <label for="time">Time</label>
                <input type="time" id="time" class="input-box" required />
                <label for="people">How Many People</label>
                <select class="input-box" name="select" id="people">
                    <option value="1">1 person</option>
                    <option value="2">2 persons</option>
                    <option value="3">3 persons</option>
                    <option value="4">4 persons</option>
                    <option value="5">5 persons</option>
                    <option value="6">6 persons</option>
                    <option value="7">7 persons</option>
                    <option value="8">8 persons</option>
                    <option value="9">9 persons</option>
                    <option value="10">10 persons</option>
                    <option value="10">11 persons</option>
                    <option value="10">12 persons</option>
                    <option value="11">13 persons</option>
                    <option value="12">14 persons</option>
                    <option value="13">15 persons</option>
                    <option value="14">16 persons</option>
                    <option value="17">17 persons</option>
                    <option value="18">18 persons</option>
                    <option value="19">19 persons</option>
                    <option value="20">20 persons</option>
                </select>
                <label for="payment">Payment Method</label>
                <div class="payment-cards" id="payment">
                    <img src="../images/logo/gcash.jpg" alt="" class="paymentimg">
                    <img src="../images/logo/paypal.jpg" alt="" class="paymentimg">
                    <i class='bx bxs-credit-card-front altcard'>Other</i>
                </div>
                </div>
            </div>
            <div class="form-right">    
            <div class="right-wrapper">
            <div class="up-container">
                <div class="image-container">
                    <img src="../images/Tables/1.jpg" alt="" id="poster">
                </div>
                <h1 class="image-text" id="title">Table 1 : Good for 2 Persons</h1>
            </div>
            <div class="down-container">
                <div class="card">
                <img class="images dis" src="../images/Tables/1.jpg" alt="">
                <h1>Table 1 : Good for 2 Persons</h1>
                </div>
                <div class="card">
                    <img class="images dis" src="../images/Tables/2.jpg" alt="">
                    <h1>Table 2 : Good for 2 Persons</h1>
                </div>
                <div class="card">
                    <img class="images dis" src="../images/Tables/3.jpg" alt="">
                    <h1>Table 3 : Good for 3-4 Persons</h1>
                </div>
                <div class="card">
                    <img class="images dis" src="../images/Tables/4.jpg" alt="">
                    <h1>Table 4 : Good for 5-6 Persons</h1>
                </div>
                <div class="card">
                    <img class="images dis" src="../images/Tables/5.jpg" alt="">
                    <h1>Table 5 : Family table</h1>
                </div>
            </div>
            <div class="btns">
                <i class='bx bxs-left-arrow'></i>
                <i class='bx bxs-right-arrow' ></i>
            </div>
            </div>
            <div class="form-right-request">
                <label for="table">Select Table</label>
                <select class="input-box option" name="select" id="table">
                    <option value="1" >table 1 </option>
                    <option value="2" >table 2 </option>
                    <option value="3" >table 3 </option>
                    <option value="4" >table 4 </option>
                    <option value="5" >Family Table</option>
                </select>
            <label for="request">Special Request</label>
            <textarea class="input-box" name="request" id="request" cols="40" rows="3"></textarea>
            </div>
            </div>
        </div>   
        <div class="wrapper">
            <a class="cancel-btn" onclick="checker()" href="/users/reservation">Cancel Reservation</a>

            <button class="submit-btn" onclick="alert('Thank Your For Your Order!'), location.href='/users/dashboard'" >Reserve Now</button>
        </div>
    </section>
<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
     <!--  JAVASCRIPT link -->
     <script src="/js/fillupform.js"></script>
    <!-- ANIMATION ON SCROLL JAVASCRIPT -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script> 
        <script>
            function checker() {
                var result = confirm('Are you sure?');
                if(result == false) {
                    event.preventDefault();
                }
            }
        </script>
</body>
</html>