<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome page</title>
        <link rel="stylesheet" href="../css/index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <div class="nav">
                <img src="../images/index/1.jpg" alt="logo" class="logo">
                <div class="link">
                    <a href="users/register">Register <span>&#10230;</span></a href="">
                    <a href="users/login">Login <span>&#10230;</span></a>
                </div>
            </div>
        </header>
        <section class="hero">
            <h1>Welcome to D&J Diner’s</h1>
            <p>Online reservation web-site!</p>
               <p> We’re glad you’re here.</p>
                <p> Browse our menu and make your table reservation today.</p>
                <p> We look forward to serve you soon!</p>
            <div class="images">
                <img src="../images/index/corndog.png" alt="">
                <img src="../images/index/drink.jpg" alt="">
                <img src="../images/index/BUFFALOWINGS.jpg" alt="">
                <img src="../images/index/TARO.jpg" alt="">
                <img src="../images/index/4.jpg" alt="">
                <img src="../images/index/quezzomozzaclassic.jpg" alt="">
            </div>
        </section>
    </body>
</html>
