<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div class="content">
            <div class="container">
            <h1>WELCOME</h1>
            <h1>to</h1>
            <h1>D&J DINER</h1>
            <h2>To access the main page, Please click</h2>

            <a href="/users/login">Register and Login</a>
        </div>
        </div>
    </body>
</html>
