<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <!-- ANIMATION ON SCROLL LINK -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!-- css link -->
        <link rel="stylesheet" href="/css/form.css" />
    </head>
    <body>
        <div class="form" data-aos="flip-left" data-aos-duration="2000">
            <h1 class="heading">Login</h1>
            <ul>
                <% if(messages.succes_msg) { %>
                <li><%= messages.succes_msg %></li>
                <% } %>
            </ul>

            <ul>
                <% if(messages.error ){ %>
                <li><%= messages.error %></li>
                <% } %>
            </ul>

            <form action="/users/login" method="POST">
                <div>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Email"
                        class="email"
                        required
                    />
                </div>
                <div>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Password"
                        class="password"
                        required
                    />
                </div>
                <div>
                    <input type="submit" value="Login" class="submit-btn" />
                </div>
                <a href="register" class="link">Don't have an Account? Register here</a>
            </form>
        </div>
         <!-- ANIMATION ON SCROLL JAVASCRIPT -->
         <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
         <script>
             AOS.init();
         </script>
    </body>
</html>
