<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reservation</title>
        <link rel="stylesheet" href="../css/reservation.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
        />
    </head>
    <body>
        <back-button class="back">
            <a href="dashboard">< Back to Home Page</a>
        </back-button>

        <container class="main-container">
            <container class="table">
                <main-form class="main-form1">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/2 PERSONS TABLE1.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/2 PERSONS TABLE2.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/TABLE FOR 3 OR 4.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/TABLE FOR 5 OR 6.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/FAMILY TABLE.jpg"
                                    alt=""
                                />
                            </div>

                            ...
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </main-form>
            </container>
        </container>

        <!-------------------------------------- added codes -->

        <section class="container content-section">
            <h2 class="section-header">CHOOSE A MENU</h2>
            <h3 class="header-tree">Chicken Wings</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Buffalo Wings</span>
                    <img class="shop-item-image" src="../images/Chicken-Wings/BUFFALOWINGS.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱189</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Honey Glazed Chicken Wings</span>
                    <img class="shop-item-image" src="../images/Chicken-Wings/HONEY GLAZED CHICKEN WINGS.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱179</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Spicy Garlic Buffalo Chicken</span>
                    <img class="shop-item-image" src="../images/Chicken-Wings/SPICY GARLIC BUFFALO CHICKEN.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱189</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
<!-----------------------------------SILOG MEALS--------------------------------->
<h3 class="header-tree">Silog Meals</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Hotsilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/HOTSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱99</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Longsilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/LONGSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Hamsilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/HAMSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Tosilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/TOSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Spamsilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/SPAMSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Chicksilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/CHICKSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱119</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Bangsilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/BANGSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱119</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Porksilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/PORKSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱129</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Sisilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/SISILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱159</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Tapsilog</span>
                    <img class="shop-item-image" src="../images/SilogMeals/TAPSILOG.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱149</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>

            
        </section>
        <!----------------------------------- CART SECTION -->
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column"
                    >QUANTITY</span
                >
            </div>
            <div class="cart-items"></div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">
                PURCHASE
            </button>
        </section>


        <!-------------------------------------- added codes end -->

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="../js/reservation.js"></script>
    </body>
</html>
