<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reservation Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
        <link rel="stylesheet" href="../css/reservation.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
        />
    </head>
    <body>
        <back-button class="back">
            <a href="dashboard">Back to Home Page</a>
        </back-button>
        <container class="main-container">
            <container class="table">
                <main-form class="main-form1">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/2 PERSONS TABLE1.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/2 PERSONS TABLE2.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/TABLE FOR 3 OR 4.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/TABLE FOR 5 OR 6.jpg"
                                    alt=""
                                />
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="../images/Tables/FAMILY TABLE.jpg"
                                    alt=""
                                />
                            </div>

                            ...
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </main-form>
            </container>
        </container>

        <!-------------------------------------- added codes -->

        <section class="container content-section">
            <!-- ------------------------------------ TABLE SECTION
            <h2 class="section-header">CHOOSE A TABLE</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Table 1</span>
                    <img class="shop-item-image" src="../images/Tables/2 PERSONS TABLE1.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱0</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Table 2</span>
                    <img class="shop-item-image" src="../images/Tables/2 PERSONS TABLE2.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱0</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Table 3</span>
                    <img class="shop-item-image" src="../images/Tables/TABLE FOR 3 OR 4.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱0</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Table 4</span>
                    <img class="shop-item-image" src="../images/Tables/TABLE FOR 5 OR 6.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱0</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Table 5</span>
                    <img class="shop-item-image" src="../images/Tables/FAMILY TABLE.jpg" />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱0</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div> -->

            <!----------------------------------------- MENU SECTION -->
            <h2 class="section-header">CHOOSE A MENU</h2>
            <h3 class="header-tree">Chicken Wings</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Buffalo Wings</span>
                    <img
                        class="shop-item-image"
                        src="../images/Chicken-Wings/BUFFALOWINGS.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱189</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title"
                        >Honey Glazed Chicken Wings</span
                    >
                    <img
                        class="shop-item-image"
                        src="../images/Chicken-Wings/HONEY GLAZED CHICKEN WINGS.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱179</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title"
                        >Spicy Garlic Buffalo Chicken</span
                    >
                    <img
                        class="shop-item-image"
                        src="../images/Chicken-Wings/SPICY GARLIC BUFFALO CHICKEN.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱189</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
            <!-----------------------------------SILOG MEALS--------------------------------->
            <h3 class="header-tree">Silog Meals</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Hotsilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/HOTSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱99</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Longsilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/LONGSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Hamsilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/HAMSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Tosilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/TOSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Spamsilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/SPAMSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱109</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Chicksilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/CHICKSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱119</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Bangsilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/BANGSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱119</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Porksilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/PORKSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱129</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Sisilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/SISILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱159</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Tapsilog</span>
                    <img
                        class="shop-item-image"
                        src="../images/SilogMeals/TAPSILOG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱149</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
            <!-----------------------------------NOODLES AND PASTA--------------------------------->
            <h3 class="header-tree">Noodles And Pasta</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Carbonara</span>
                    <img
                        class="shop-item-image"
                        src="../images/Noodles&Pasta/CARBONARA.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱99</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Spaghetti</span>
                    <img
                        class="shop-item-image"
                        src="../images/Noodles&Pasta/SPAGHETTI2.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱55</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Sotanghon</span>
                    <img
                        class="shop-item-image"
                        src="../images/Noodles&Pasta/SOTANGHON.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱99</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>

            <!-----------------------------------PLATTERS--------------------------------->
            <h3 class="header-tree">Platters</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Chapsuey</span>
                    <img
                        class="shop-item-image"
                        src="../images/Platters/CHAPSUEY.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱220</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title"
                        >Lumpiang Shanghai (10pcs)</span
                    >
                    <img
                        class="shop-item-image"
                        src="../images/Platters/LUMPIANG SHANGHAI.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱80</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Sweet & Sour</span>
                    <img
                        class="shop-item-image"
                        src="../images/Platters/Sweet & Sour.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱189</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Sisig</span>
                    <img
                        class="shop-item-image"
                        src="../images/Platters/SISIG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱220</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Sinigang</span>
                    <img
                        class="shop-item-image"
                        src="../images/Platters/SINIGANG.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱250</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>

            <!-----------------------------------SNACKS--------------------------------->
            <h3 class="header-tree">SNACKS</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Fries</span>
                    <img
                        class="shop-item-image"
                        src="../images/Snacks/fries.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱69</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Unnie Corndog</span>
                    <img
                        class="shop-item-image"
                        src="../images/Snacks/unniecorndog.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱55</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Mozza Classic</span>
                    <img
                        class="shop-item-image"
                        src="../images/Snacks/mozzaclassic.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱95</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Quezzoclassic</span>
                    <img
                        class="shop-item-image"
                        src="../images/Snacks/quezzoclassic.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱80</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Las Patatas</span>
                    <img
                        class="shop-item-image"
                        src="../images/Snacks/laspatatas.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Corndogramen</span>
                    <img
                        class="shop-item-image"
                        src="../images/Snacks/corndogramen.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Quezzo Mozza Classic</span>
                    <img
                        class="shop-item-image"
                        src="../images/Snacks/quezzomozzaclassic.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱90</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
            <!-----------------------------------DRINKS--------------------------------->
            <h2 class="section-header">DRINKS</h2>
            <h3 class="header-tree">MILKTEA</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Taro</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/TARO.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Matcha</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/MATCHA.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Okinawa</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/OKINAWA.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Hokkaido</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/HOKKAIDO.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Wintermelon</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/WINTERMELON.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Chocolate</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/CHOCOLATE.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Red Velvet</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/RED VELVET.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Black Forest</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/BLACK FOREST.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Coockies And Cream</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/COOKIES & CREAM.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Dark Chocolate</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/DARKCHOCOLATE.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱39</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
            <!-------------------------------- FRAPPE -->
            <h3 class="header-tree">FRAPPE</h3>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Double Chocolate</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/DOUBLE CHOCOLATE.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Mango Graham</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/MANGO GRAHAM.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Caramel Choco</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/CARAMEL CHOCO.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Strawberry</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/STRAW BERRY.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Matcha</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/MATCHA.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Coockies And Cream</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/COOKIES & CREAM.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Taro</span>
                    <img
                        class="shop-item-image"
                        src="../images/Drinks/TARO.jpg"
                    />
                    <div class="shop-item-details">
                        <span class="shop-item-price">₱60</span>
                        <button
                            class="btn btn-primary shop-item-button"
                            type="button"
                        >
                            ADD TO CART
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!----------------------------------- CART SECTION -->
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column"
                    >QUANTITY</span
                >
            </div>
            <div class="cart-items"></div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button" onclick="location.href='/users/fillupform'">
                PURCHASE
            </button>
        </section>
        <!-------------------------------------- added codes end -->
        <footer id="socials">
            <a href="https://web.facebook.com/profile.php?id=100085932051209" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
    
            <a href="https://www.instagram.com/dj.diner/" target="_blank"> <i class="fa-brands fa-instagram"></i></a>
            
            <i class="fa-brands fa-tiktok"></i>
        </footer>
        <footer" class="footer2">
            <h4>&copy; 2022 by JpMayor <div class="fas fa-heart"></div></h4>
        </footer>


        
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!-----------------------------------CUSTOM JS FILE LINK--------------------------------->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="../js/reservation.js"></script>
    </body>
</html>
