* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    backdrop-filter: blur(5px);
}
.form{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    height: 97vh;
    width: 97vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.form h2 {
    color: white;
    font-size: 50px;
    font-family: "Metal Mania";
    padding: .5rem;
}

.wrapper {
    margin: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.form .submit-btn {
    height: 50px;
    padding: .5rem .7rem;
    margin: .2rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: 300;
    background: #282a3a;
    backdrop-filter: blur(5px);
    color: #faf8f1;
    cursor: pointer;
}

.form .cancel-btn {
    height: 50px;
    padding: .5rem .7rem;
    margin: .2rem;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: 300;
    background: #282a3a;
    backdrop-filter: blur(5px);
    color: #faf8f1;
    cursor: pointer;
    text-decoration: none;
}

.form .submit-btn:hover{
    font-size: 32px;
    height: 52px;
}

.cancel-btn:hover {
    font-size: 32px;
    height: 52px;
}

.main-form {
    border: none;
    border-radius: 2rem;
    background-color: #282a3a;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.form-left {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #faf8f1;
    border-radius: 1rem;
    padding: 1rem;
}

.form-left h1 {
    color: #FFF6BF;
    font-size: 40px;
    cursor: default;
}

.form-left h2 {
    font-size: 35px;
    color: #CCD6A6;
    cursor: default;
}

.form-left p {
    color: #65647C;
    font-size: 25px;
    font-weight: 400;
    cursor: default;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-left hr {
    width: 80%;
    margin: .5rem;
    cursor: default;
}

.form-left .inner-form{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.form-left .fa-phone {
    color: #000000;
    font-size: 20px;
    cursor: default;
}

.form-left .fa-facebook,.form-left .fa-instagram{
    font-size: 27px;
}

.form-left .fa-facebook{
    color: rgb(38, 38, 235);
}

.form-left .fa-instagram{
    color: rgb(223, 91, 124);
}

.form-right {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #faf8f1;
    border-radius: 1rem;
    padding: 1rem;
    height: 96%;
}

.form-right label {
    color: #CCD6A6;
    font-size: 20px;
    margin: 5px;
}

.form-right .input-box{
    width: 50%;
    height: 25px;
    background: black;
    backdrop-filter: blur(5px);
    color: white;
    border: none;
    text-align: center;
    cursor: default;
    padding: .1rem .4rem;
}

.form-right .input-box1{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 70%;
    height: 30px;
    background: transparent;
    color: white;
    border: none;
    text-align: center;
    cursor: default;
    padding: .1rem .4rem;
}

.paymentmethod {
    padding: 2px;
}

.input-box1 p {
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 15px;
}

.input-box1 p:hover {
    font-size: 17px;
}

.input-box1 img {
    height: 30px;
    width: auto;
    border-radius: 50%;
    margin-left: 1rem;
}
.input-box1 img:hover {
    height: 35px;
    width: auto;
}

.fa-paypal {
    font-size: 30px;
    color: blue;
}

.fa-paypal:hover {
    font-size: 37px;
}

.form-right .input-box::placeholder{
    color: white;
}

::-webkit-calendar-picker-indicator{
    background-color: white;
    cursor: pointer;
}

@media (max-width: 768px) {

    .form-left {
        text-align: center;
    }

    .form-left h1 {
        color: #FFF6BF;
        font-size:30px;
        cursor: default;
    }
    
    .form-left h2 {
        font-size: 25px;
        color: #CCD6A6;
        cursor: default;
    }
    
    .form-left p {
        color: #65647C;
        font-size: 15px;
        font-weight: 400;
        cursor: default;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .form-left hr {
        width: 80%;
        margin: .5rem;
        cursor: default;
    }
    
    .form-left .inner-form{
        width: 90%;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    
    .form-left .fa-phone {
        color: #000000;
        font-size: 10px;
        cursor: default;
    }
    
    .form-left .fa-facebook,.form-left .fa-instagram{
        font-size: 17px;
    }
    
    .form-left .fa-facebook{
        color: rgb(38, 38, 235);
    }
    
    .form-left .fa-instagram{
        color: rgb(223, 91, 124);
    }

    .form-right {
        flex: 1 1 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #faf8f1;
        border-radius: 1rem;
        padding: 1rem;
        height: 96%;
    }
    
    .form-right label {
        color: #CCD6A6;
        font-size: 15px;
        margin: 5px;
    }
    
    .form-right .input-box{
        width: 90%;
        height: 25px;
        background: black;
        backdrop-filter: blur(5px);
        color: white;
        border: none;
        text-align: center;
        cursor: default;
        padding: .1rem .4rem;
    }
    
    .form-right .input-box1{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 90%;
        height: 30px;
        background: transparent;
        color: white;
        border: none;
        text-align: center;
        cursor: default;
        padding: .1rem .4rem;
    }
    
    .input-box1 p {
        letter-spacing: 1px;
        cursor: pointer;
        font-size: 10px;
    }
    
    .input-box1 p:hover {
        font-size: 12px;
    }
    
    .input-box1 img {
        height: 20px;
        width: auto;
        border-radius: 50%;
        margin-left: 1rem;
    }
    .input-box1 img:hover {
        height: 25px;
        width: auto;
    }
    
    .fa-paypal {
        font-size: 20px;
        color: blue;
    }
    
    .fa-paypal:hover {
        font-size: 27px;
    }
    
    .form-right .input-box::placeholder{
        color: white;
    }
    
    ::-webkit-calendar-picker-indicator{
        background-color: white;
        cursor: pointer;
    }

    .wrapper {
        width: 100%;
    }

    .form .submit-btn {
        text-align: center;
        width: 150px;
        height: 40px;
        padding: .5rem .7rem;
        margin: .2rem 1rem;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        font-weight: 200;
        background: #282a3a;
        color: #faf8f1;
        cursor: pointer;
    }
    
    .form .cancel-btn {
        width: 150px;
        text-align: center;
        height: 40px;
        padding: .5rem .7rem;
        margin: .2rem;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        font-weight: 200;
        background: #282a3a;
        color: #faf8f1;
        cursor: pointer;
        text-decoration: none;
    }
    
    .form .submit-btn:hover{
        font-size: 16px;
        height: 42px;
        width: 160px;
    }
    
    .cancel-btn:hover {
        font-size: 16px;
        height: 42px;
        width: 160px;
    }

    .main-form {
        height: 70vh;
    }
}
