@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* COLORS */
    --body-color: #E4E9F7;
    --sidebar-color: #D5CEA3;
    --primary-color: #d6d6d6;
    --body-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #353434;

    /* TRANSITION */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}
/***************************************** FORM */
.form {
    height: 100vh;
    width: 100vw;
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form h2 {
    font-size: 30px;
    font-weight: 500;
    margin: .2em;
    color: var(--text-color);
}
.wrapper1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
}
/***************************************** FORM LEFT */
.form-left {
    background: var(--sidebar-color);
    height: 85%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.left-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 300px;
}
.form-left label {
    font-size: 20px;
    font-weight: 400;
}
.form-left .input-box {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: .5em;
    color: var(--text-color);
}
.payment-cards {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.payment-cards .paymentimg {
    height: 30px;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
}
.payment-cards .paymentimg:hover, .payment-cards .altcard:hover {
    transform: scale(1.1);
}
.payment-cards .altcard {
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}
/***************************************** FORM RIGHT */
.form-right {
    background: var(--sidebar-color);
    height: 85%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    padding-left: 20px;
}
.right-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 90%;
    margin: .5em;
}
.right-wrapper .up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-wrapper .image-container {
    height: 160px;
    width: auto;
}
.right-wrapper .up-container h1 {
    font-size: 19px;
    font-weight: 300;
    cursor: default;
}
.right-wrapper .down-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 190%;
    width: 30%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}
.right-wrapper .down-container::-webkit-scrollbar {
    display: none;
}
.right-wrapper .down-container .card {
    position: relative;
    width: 100px;
    height: 80px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid black;
    background-color: #353434;
    margin: 5px 0;
    cursor: pointer;
}
.right-wrapper .down-container .card .dis {
    height: 40px;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
}
.right-wrapper .down-container h1 {
    font-size: 11px;
    font-weight: 300;
    color: var(--primary-color);
    cursor: pointer;
}

.right-wrapper .image-container img {
    height: 100%;
    width: auto;
    cursor: pointer;
}
.form-right .images {
    height: 100px;
    width: auto;
}
.btns {
    position: absolute;
    right: -15px;
    top: 200px;
    transform: rotate(90deg);
}
.form-right-request {
    display: flex;
    flex-direction: column;
}
.form-right-request label {
    font-size: 20px;
    font-weight: 400;
}
.form-right-request .input-box {
    border: none;
    border-radius: 8px;
    padding: .5em;
    margin-bottom: 1rem;
    color: var(--text-color);
}
/***************************************** BUTTONS */
.wrapper {
    position: absolute;
    bottom: 15px;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wrapper .cancel-btn, .submit-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    padding: .5em 2em;
    background: var(--sidebar-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 1s linear;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.wrapper .cancel-btn:hover, .submit-btn:hover {
    transform: scale(1.1);
    color: var(--sidebar-color);
    background: var(--text-color);
    transition: .5s;
}