:root {
    /* COLORS */
    --body-color: #E4E9F7;
    --sidebar-color: #D5CEA3;
    --primary-color: #d6d6d6;
    --body-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #353434;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-color);
    /* background-color: rgb(126, 116, 103);
    background-image: url(../d&j/mainbackground2.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50% 40%;
    background-attachment: fixed; */
    font-family: "roboto", sans-serif;
}

.form {
    width: 400px;
    height: auto;
    font-family: "roboto", sans-serif;
    background: rgb(194, 194, 194);
    backdrop-filter: blur(10rem);
    border-radius: 10px;
    padding-top: 2rem;
}

ul {
    margin-left: 30px;
}

.heading {
    opacity: 1;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
    color: var(--text-color);
    cursor: default;
}

input,
.submit-btn {
    opacity: 1;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(29, 29, 29, 0.3);
    border: none;
    color: var(--text-color);
    padding: 15px;
    transition: 0.5s;
}

input::placeholder {
    color: var(--text-color);
}

input:focus,
.submit-btn:hover {
    background: var(--text-color);
    color: var(--body-color-light);
}

input:focus::placeholder {
    color: var(--primary-color);
}

.submit-btn {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 1;
}

.link {
    opacity: 1;
    text-align: center;
    color: var(--text-color);
    display: block;
    margin: 30px auto;
    text-decoration: none;
}

.link:hover {
    color: black;
}
