html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(77, 74, 74);
    background-image: url(../images/logo/2.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.container {
    height: 300px;
    width: 400px;
    border: 2px solid white;
    margin-left: 3rem;
    margin-top: 5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
}

.container h1 {
    font-size: 45px;
    letter-spacing: 1px;
    margin: 1px;
}

.container h2 {
    font-size: 20px;
    margin-top: 4rem;
}

.container a {
    color: white;
    text-decoration: none;
    margin-top: 0;
    font-size: 25px;
}

.container:hover {
    height: 320px;
    width: 430px;
    border: 2px solid white;
    background: transparent;
    margin-left: 2rem;
    margin-top: 11rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    letter-spacing: 1px;
    backdrop-filter: blur(10px);
    color: white;
    transition: all ease-in 0.3s;
}

.container h1:hover {
    color: black;
    cursor: default;
}

.container h2:hover {
    color: black;
    cursor: default;
}

.container a:hover {
    color: black;
    font-size: 30px;
    text-decoration: underline;
}

@media (max-width: 1500px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
    height: 300px;
    width: 400px;
    border: 2px solid white;
    margin-left: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 50px;
        letter-spacing: 1px;
        margin: 1px;
        margin-top: 0.7rem;
    }
    
    .container h2 {
        font-size: 18px;
        margin-top: 1rem;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 0;
        font-size: 25px;
    }
    
    .container:hover {
        height: 320px;
        width: 430px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2rem;
        margin-top: 5rem;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 30px;
        text-decoration: underline;
    }
}

@media (max-width: 1300px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 270px;
        width: 370px;
        border: 2px solid white;
        margin-left: 3rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 45px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 18px;
        margin-top: 7px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 0;
        font-size: 25px;
    }
    
    .container:hover {
        height: 300px;
        width: 400px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        padding-top: 2rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 27px;
        text-decoration: underline;
        margin: 3px;
    }
}

@media (max-width: 1215px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 250px;
        width: 340px;
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 35px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 16px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 25px;
    }
    
    .container:hover {
        height: 260px;
        width: 360px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2.5rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 27px;
        text-decoration: underline;
    }
}

@media (max-width: 1130px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 200px;
        width: 300px;
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 30px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 14px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 20px;
    }
    
    .container:hover {
        height: 210px;
        width: 310px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2.5rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 22px;
        text-decoration: underline;
    }
}

@media (max-width: 1015px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 180px;
        width: 280px;
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 25px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 12px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 17px;
    }
    
    .container:hover {
        height: 200px;
        width: 300px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2.5rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 20px;
        text-decoration: underline;
    }
}

@media (max-width: 1000px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 180px;
        width: 280px;
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 25px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 12px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 17px;
    }
    
    .container:hover {
        height: 200px;
        width: 300px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2.5rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 20px;
        text-decoration: underline;
    }
}

@media (max-width: 980px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 150px;
        width: 250px;
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 20px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 10px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 15px;
    }
    
    .container:hover {
        height: 160px;
        width: 260px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2.5rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 17px;
        text-decoration: underline;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 130px;
        width: 230px;
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 18px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 9px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 10px;
        font-size: 13px;
    }
    
    .container:hover {
        height: 150px;
        width: 250px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2.5rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 14px;
        text-decoration: underline;
        margin-top: 10px;
    }
}

@media (max-width: 840px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/2.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container {
        height: 110px;
        width: 210px;
        border: 2px solid white;
        margin-left: 3rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        font-size: 15px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        font-size: 8px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 9px;
        font-size: 13px;
    }
    
    .container:hover {
        height: 120px;
        width: 220px;
        border: 2px solid white;
        background: transparent;
        margin-left: 2.5rem;
        margin-top: 4rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 14px;
        text-decoration: underline;
        margin-top: 10px;
    }
}

@media (max-width: 800px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(77, 74, 74);
        background-image: url(../images/logo/5.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .content {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .container {
        height: 110px;
        width: 210px;
        border: 2px solid white;
        margin-left: 0;
        margin-top: 0.6rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(2px);
    }

    .container h1 {
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        margin: 1px;
    }
    
    .container h2 {
        color: white;
        font-size: 9px;
        margin-top: 10px;
    }
    
    .container a {
        color: white;
        text-decoration: none;
        margin-top: 9px;
        font-size: 13px;
    }
    
    .container:hover {
        height: 120px;
        width: 220px;
        border: 2px solid white;
        background: transparent;
        margin-top: 1rem;
        margin-left: -4px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        letter-spacing: 1px;
        backdrop-filter: blur(10px);
        color: white;
        transition: all ease-in 0.3s;
    }
    
    .container h1:hover {
        color: black;
        cursor: default;
        
    }
    
    .container h2:hover {
        color: black;
        cursor: default;
    }
    
    .container a:hover {
        color: black;
        font-size: 14px;
        text-decoration: underline;
        margin-top: 5px;
    }
}