html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(167, 158, 149);
    background-image: url(../d&j/mainbackground2.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/****************************HEADER SECTION********************************/

header {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(102, 66, 1);
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    height: 90px;
    border: 1px;
    border-radius: 50%;
}

header .navbar a,
.logout {
    font-size: 23px;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
}

header .navbar p {
    display: inline;
    font-size: 23px;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header .navbar a:hover {
    color: orange;
}

header button {
    background-color: rgb(102, 66, 1);
    height: 90%;
    width: auto;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: black;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    display: none;
}

@media (max-width: 900px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

header .logo {
    height: 70px;
    border: 1px;
    border-radius: 50%;
}

@media (max-width: 700px) {
    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: 0.2rem solid rgba(0, 0, 0, 0.1);
        border-left: 0.5rem solid orange;
        background: hsl(0% 0% 100% /0.1);
        color: black;
    }

    header .logo {
        height: 65px;
        border: 1px;
        border-radius: 50%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 50%;
    }

    header .logo {
        height: 65px;
        border: 1px;
        border-radius: 50%;
    }
}
/****************************MAIN PAGE********************************/

.main-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}

/****************************HOME SECTION********************************/

.home {
    position: absolute;
    height: 100%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.home .content {
    text-align: center;
    flex: 1 1 10rem;
    padding: 3rem;
}

.home .content h3 {
    color: white;
    font-size: 50px;
    font-weight: 500px;
}

.home .content p {
    color: white;
    font-size: 20px;
    font-weight: 700px;
}

.home .image {
    text-align: center;
    flex: 1 1 10rem;
}

.home .image img {
    border-radius: 50%;
    height: 400px;
    width: auto;
    padding: 1rem;
    animation: float 2s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }
}

/****************************FOOD SECTION********************************/

.food {
    position: absolute;
    top: 600px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.heading span {
    color: white;
    font-size: 3rem;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.food .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.food .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.food .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.food .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.food .box-container .box .content img {
    margin: 1rem;
}

.food .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.food .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.food .box-container .box:hover .image {
    top: 0%;
}

.food .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************RICE SECTION********************************/

.food2 {
    position: absolute;
    top: 2500px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.food2 .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.food2 .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.food2 .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.food2 .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.food2 .box-container .box .content img {
    margin: 1rem;
}

.food2 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.food2 .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.food2 .box-container .box:hover .image {
    top: 0%;
}

.food2 .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************CHICKEN WINGS********************************/

.food3 {
    position: absolute;
    top: 3300px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.food3 .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.food3 .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.food3 .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.food3 .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.food3 .box-container .box .content img {
    margin: 1rem;
}

.food3 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.food3 .box-container .box .content .chicken {
    font-size: 2.4rem;
    color: #333;
}

.food3 .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.food3 .box-container .box:hover .image {
    top: 0%;
}

.food3 .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************PLATTERS********************************/

.food4 {
    position: absolute;
    top: 4100px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.food4 .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.food4 .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.food4 .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.food4 .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.food4 .box-container .box .content img {
    margin: 1rem;
}

.food4 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.food4 .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.food4 .box-container .box:hover .image {
    top: 0%;
}

.food4 .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************NOODLES & PASTA********************************/

.food5 {
    position: absolute;
    top: 5250px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.food5 .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.food5 .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.food5 .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.food5 .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.food5 .box-container .box .content img {
    margin: 1rem;
}

.food5 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.food5 .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.food5 .box-container .box:hover .image {
    top: 0%;
}

.food5 .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************SNACKS********************************/

.food6 {
    position: absolute;
    top: 6100px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.food6 .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.food6 .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.food6 .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.food6 .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.food6 .box-container .box .content img {
    margin: 1rem;
}

.food6 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.food6 .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.food6 .box-container .box:hover .image {
    top: 0%;
}

.food6 .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************DRINKS********************************/

.drinks {
    position: absolute;
    top: 7550px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.drinks .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.drinks .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.drinks .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.drinks .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.drinks .box-container .box .content img {
    margin: 1rem;
}

.drinks .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.drinks .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.drinks .box-container .box:hover .image {
    top: 0%;
}

.drinks .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************MILKTEA********************************/

.drinks2 {
    position: absolute;
    top: 8800px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.drinks2 .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.drinks2 .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.drinks2 .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.drinks2 .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.drinks2 .box-container .box .content img {
    margin: 1rem;
}

.drinks2 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.drinks2 .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.drinks2 .box-container .box:hover .image {
    top: 0%;
}

.drinks2 .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************FRAPPE********************************/

.drinks3 {
    position: absolute;
    top: 10600px;
    padding-top: 50px;
    height: 90%;
    width: 90%;
}

.heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.image-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.drinks3 .box-container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.drinks3 .box-container .box {
    height: 57%;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.drinks3 .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.drinks3 .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 1rem;
}

.drinks3 .box-container .box .content img {
    margin: 1rem;
}

.drinks3 .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.drinks3 .box-container .box .content p {
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
}

.drinks3 .box-container .box:hover .image {
    top: 0%;
}

.drinks3 .box-container .box:hover .content {
    transform: translateY(-100%);
    transition: all ease-in-out 0.5s;
}

/****************************FOOTER********************************/

footer {
    position: absolute;
    top: 12200px;
    height: 50px;
    width: 100vw;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer i {
    font-size: 40px;
}

.fa-facebook {
    color: rgb(54, 54, 230);
}

.fa-instagram {
    color: black;
}

.footer2 {
    position: absolute;
    top: 12250px;
    height: 50px;
    width: 100vw;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    cursor: default;
}
