:root {
    --black: #000000;
    --blue: #282a3a;
    --darkbrown: #735f32;
    --lightbrown: #c69749;
    --white: #faf8f1;
    --lightblue: #4B56D2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(167, 158, 149);
    background-image: url(../d&j/mainbackground2.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/****************************HEADER SECTION********************************/

header {
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--lightbrown);
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    height: 90px;
    border: 1px;
    border-radius: 50%;
}

header .navbar a,
.logout {
    font-size: 23px;
    margin-left: 2rem;
    color: var(--black);
    text-decoration: none;
}

header .navbar p {
    display: inline;
    font-size: 23px;
    margin-left: 2rem;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

header .navbar a:hover, .logout:hover{
    color: var(--lightblue);
}

header button {
    background-color: rgb(102, 66, 1);
    height: 90%;
    width: auto;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#menu-bar {
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    display: none;
}

/****************************MAIN PAGE********************************/

.main-page {
    height: 100vh;
    width: 100%;
}

/****************************HOME SECTION********************************/

.home {
    height: 100%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.home .home-content {
    margin-top: 5rem;
    text-align: center;
    flex: 1 1 10rem;
    padding: 3rem;
}

.home .home-content h3 {
    color: white;
    font-size: 50px;
    font-weight: 500px;
    cursor: default;
}

.home .home-content p {
    color: white;
    font-size: 20px;
    font-weight: 700px;
    cursor: default;
}

.home .image {
    margin-top: 5rem;
    text-align: center;
    flex: 1 1 10rem;
}

.home .image img {
    border-radius: 50%;
    height: 400px;
    width: auto;
    padding: 1rem;
    animation: float 2s linear infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }
}

/****************************FOOD SECTION********************************/

.menu {
    padding: 8rem 9%;
    padding-bottom: 1rem;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(5px);
}

.menu .home-slider .slide {
    padding-top: 2rem;
    display: flex;
    gap: 2rem; 
}

.menu .home-slider .slide .content {
    margin-top: 3rem;
    flex: 1 1 45rem;
}

.menu .home-slider .slide .image {
    flex: 1 1 45rem;
}

.menu .home-slider .slide .image2 {
    flex: 1 1 45rem;
}

.menu .home-slider .slide .image2 img {
    height: 100%;
    width: 100%;
}

.menu .home-slider .slide .image img {
    height: 90%;
    width: 90%;
}

.menu .home-slider .slide .content span {
    color: var(--white);
    font-size: 3rem;
    cursor: default;
}

.menu .home-slider .slide .content h3 {
    color: var(--blue);
    font-size: 3.5rem;
    cursor: default;
    text-decoration: underline;
}

.menu .home-slider .slide .content p {
    color: var(--white);
    font-size: 1rem;
    cursor: default;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--white);
    background: var(--blue);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--white);
    color: var(--blue);
}

/****************************CHICKEN WINGS SECTION********************************/

.sub-heading{
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    padding-top: 1rem;
    cursor: default;
    text-decoration: underline;
}

.heading{
    text-align: center;
    color: var(--white);
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    cursor: default;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.dishes .box-container .box {
    padding: 2rem;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(5px);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.box img{
    height: 50%;
    width: 50%;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    color: var(--blue);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    color: var(--lightbrown);
}

.dishes .box-container .box .fa-heart{
    right: -15rem;
}

.dishes .box-container .box .fa-eye{
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}

.dishes .box-container .box h3{
    color: var(--white);
    font-size: 1.5rem;
    cursor: default;
}

.dishes .box-container .box .stars{
    padding: .5rem 0;
}

.dishes .box-container .box .stars i {
    font-size: 1rem;
    color: var(--lightblue);
    cursor: default;
}

.dishes .box-container .box span{
    color: var(--white);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 1.5rem;
    cursor: default;
}

/****************************FOOTER********************************/

footer {
    margin-top: 1rem;
    height: 50px;
    width: 100vw;
    /* background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(5px); */
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i {
    font-size: 40px;
    margin: 1rem;
}

.fa-facebook {
    color: rgb(54, 54, 230);
}

.fa-instagram {
    color: black;
}

.footer2 {
    height: 50px;
    width: 100vw;
    /* background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(5px); */
    background: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    cursor: default;
}

/****************************MEDIA QUERIES********************************/

@media (max-width: 1000px) {
    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: 0.2rem solid rgba(0, 0, 0, 0.1);
        border-left: 0.5rem solid var(--blue);
        background: hsl(0% 0% 100% /0.1);
        color: black;
    }

    header .logo {
        height: 65px;
        border: 1px;
        border-radius: 50%;
    }

    .dishes .box-container .box img{
        height: auto;
        width: 100%;
        padding: 1.4rem;
    }

    .menu .home-slider .slide .image img{
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
    }

    .menu .home-slider .slide .image2 img{
        height: 80%;
        margin-top: 3rem;
    }

    .menu .home-slider .slide .content h3 {
        color: var(--blue);
        font-size: 3rem;
        cursor: default;
        text-decoration: underline;
    }

}

@media (max-width: 900px) {
    .home {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    
    .home .home-content {
        margin-top: 5rem;
        text-align: center;
        flex: 1 1 10rem;
        padding: 3rem;
    }
    
    .home .home-content h3 {
        color: white;
        font-size: 40px;
        font-weight: 500px;
        cursor: default;
    }
    
    .home .home-content p {
        color: white;
        font-size: 17px;
        font-weight: 500px;
        cursor: default;
    }
    
    .home .image {
        margin-top: 5rem;
        text-align: center;
        flex: 1 1 10rem;
    }
    
    .home .image img {
        border-radius: 50%;
        height: 400px;
        width: auto;
        padding: 1rem;
        animation: float 2s linear infinite;
    }
    
    @keyframes float {
        0%,
        100% {
            transform: translateY(0rem);
        }
    
        50% {
            transform: translateY(3rem);
        }
    }
    
}

@media (max-width: 820px) {
    .home {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    
    .home .home-content {
        text-align: center;
        flex: 1 1 2rem;
        padding: 3rem;
    }
    
    .home .home-content h3 {
        color: white;
        font-size: 50px;
        font-weight: 500px;
        cursor: default;
    }
    
    .home .home-content p {
        color: white;
        font-size: 20px;
        font-weight: 600px;
        cursor: default;
    }
    
    .home .image {
        display: none;
        margin-bottom: 0;
    }
    

    .menu {
        margin-top: -30rem;
        padding: 3rem 9%;
        padding-bottom: 1rem;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(5px);
    }

    .menu .home-slider .slide {
        padding: 2rem;
        display: flex;
        gap: 2rem; 
    }
    
    .menu .home-slider .slide .content {
        margin-top: 0;
        flex: 1 1 45rem;
    }
    
    .menu .home-slider .slide .image {
        flex: 1 1 45rem;
    }
    
    .menu .home-slider .slide .image2 {
        flex: 1 1 45rem;
    }
    
    .menu .home-slider .slide .image2 img {
        height: 90%;
        width: 90%;
    }
    
    .menu .home-slider .slide .image img {
        height: 90%;
        width: 90%;
    }
    
}

@media (max-width: 600px) {

    .home .image {
        display: none;
        margin-bottom: 0;
    }
    .menu {
        margin-top: -30rem;
        padding: 1rem 1%;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(5px);
    }

    .menu .home-slider .slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem; 
    }
    
    .menu .home-slider .slide .content {
        flex: 1 1 10rem;
        padding: 0;
    }
    
    .menu .home-slider .slide .image {
        flex: 1 1 10rem;
    }
    
    .menu .home-slider .slide .image2 {
        flex: 1 1 10rem;
    }
    
    .menu .home-slider .slide .image2 img {
        height: 90%;
        width: 90%;
    }
    
    .menu .home-slider .slide .image img {
        height: 90%;
        width: 90%;
    }

    .menu .home-slider .slide .content span {
        color: var(--white);
        font-size: 2.5rem;
        cursor: default;
    }
    
    .menu .home-slider .slide .content h3 {
        color: var(--blue);
        font-size: 3rem;
        cursor: default;
        text-decoration: underline;
    }
    
    .menu .home-slider .slide .content p {
        color: var(--white);
        font-size: 1rem;
        cursor: default;
    }
    
    .btn {
        margin-top: 1rem;
        display: inline-block;
        font-size: 1.7rem;
        color: var(--white);
        background: var(--blue);
        border-radius: .5rem;
        cursor: pointer;
        padding: .8rem 3rem;
    }
    
    .btn:hover{
        background: var(--white);
        color: var(--blue);
    }
}

@media (max-width: 520px) {
    .home .image {
        display: none;
        margin-bottom: 0;
    }
    .menu {
        margin-top: -25rem;
        padding: 1rem 1%;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(5px);
    }
}

@media (max-width: 450px) {
    .home .image {
        display: none;
        margin-bottom: 0;
    }
    .menu {
        margin-top: -25rem;
        padding: 1rem 1%;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(5px);
    }

    .home .home-content h3 {
        color: white;
        font-size: 40px;
        font-weight: 500px;
        cursor: default;
    }
    
    .home .home-content p {
        color: white;
        font-size: 18px;
        font-weight: 400px;
        cursor: default;
    }
}

@media (max-width: 350px) {
    .home .image {
        display: none;
        margin-bottom: 0;
    }
    .menu {
        margin-top: -25rem;
        padding: 1rem 1%;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(5px);
    }

    .home .home-content h3 {
        color: white;
        font-size: 40px;
        font-weight: 500px;
        cursor: default;
    }
    
    .home .home-content p {
        color: white;
        font-size: 16px;
        font-weight: 400px;
        cursor: default;
    }
}