@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* COLORS */
    --body-color: #E4E9F7;
    --sidebar-color: #D5CEA3;
    --primary-color: #d6d6d6;
    --body-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #353434;

    /* TRANSITION */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    height: 100%;
    width: calc(100% - 88px);
    margin: 0;
    padding: 5rem 0 0 90px;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar .text {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-04);
    white-space: nowrap;
    opacity: 1;
    margin-left: 10px;
}
.sidebar .image {
    min-width: 60px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;
}
.sidebar.close {
    width: 88px;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 30px;
    height: auto;
    border-radius: 50%;
}
.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-02);
}
.sidebar .image-text img {
    width: 40px;
    border-radius: 50%;
}
.sidebar header {
    position: relative;
}
.sidebar header .image-text {
    display: flex;
    align-items: center;
    padding-right: 45px;
}
header .image-text .header-text {
    cursor: default;
}
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    height: 25px;
    width: 25px;
    transform: translateY(-50%) rotate(180deg);
    background: var(--body-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 22px;
    transition: var(--trans-03);
}
.sidebar.close header .toggle {
    transform: translateY(-50%);
}
.sidebar .menu {
    margin-top: 0;
}
.sidebar li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: var(--trans-04);
    border-radius: 5px;
}
.sidebar li a:hover, .sidebar li a:focus {
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--text-color);
}
.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom-content {
    margin-top: 50px;
}








/************************************** added codes */

.content-section {
    background: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    
}
.section-header {
    color: var(--text-color);
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    cursor: default;
}

.header-tree {
    color: var(--text-color);
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    cursor: default;
    padding-top: 6rem;
}

.shop-items {
    background: var(--text-color);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
}
.shop-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 350px;
    padding: 1em;
    border: 1px solid var(--body-color-light);
    border-radius: 10px;
    background: var(--toggle-color);
}
.image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.image img {
    height: 100%;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}
.image:hover img {
    transform: scale(1.1);
    transition: .5s;
}
.shop-item-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.shop-item-title {
    text-align: center;
    font-weight: 400;
    font-size: 1.4em;
    color: var(--text-color);
    cursor: default;
    margin: 1rem;
}
.price-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.shop-item-price {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-color);
    cursor: default;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-primary {
    color: var(--toggle-color);
    background-color: var(--text-color);
    border: none;
    border-radius: .3em;
    font-size: 17px;
    font-weight: 400;
    transition: .3s;
}
.btn-primary:hover {
    background-color: var(--sidebar-color);
    color: var(--text-color);
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    cursor: default;
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    position: absolute;
    text-align: center;
    padding: .5rem;
    left: 45%;
    width: fit-content;
    letter-spacing: 3px;
    margin: 1rem;
    cursor: default;
}

.cart-total-title {
    font-weight: 400;
    font-size: 1.5em;
    color: var(--text-color);
    cursor: default;
}

.cart-total-price {
    color: var(--text-color);
    font-size: 1.4em;
    cursor: default;
}

.btn-purchase {
    display: block;
    margin: 80px auto 20px auto;
    font-size: 1.3rem;
    cursor: pointer;
}

/****************************FOOTER********************************/

.contact {
  
    padding: 10px 15px;
    
    width: 100vw;
    background: var(--toggle-color);
    height: 20vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .contacts {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: .5rem;
}
.contact .contacts p {
    font-size: 15px;
    font-weight: 300;
    cursor: default;
}
.contact .copy-right {
    margin: 1rem;
}
.contact .copy-right p {
    font-size: 15px;
    font-weight: 300;
    cursor: default;
}
/************************************MEDIA QUERIES*/
@media(max-width: 1100px) {
    .shop-item {
        height: 300px;
    }
    .btn-primary {
        font-size: 15px;  
    }
}

@media(max-width: 1000px) {
    .shop-item {
        height: 250px;
    }
    .shop-item-title { 
        font-size: 15px;
    }
    .shop-item-price {
        font-size: 15px;
    }
    .btn {
        padding: 4px 6px;
    }
    .btn-primary {
        font-size: 14px;  
    }
}

@media(max-width: 800px) {
    .shop-item {
        height: 200px;
    }
    .shop-item-title {
        font-size: 12px;
    }
    .btn {
        padding: 2px 5px;
    }
    .btn-primary {
        font-size: 11px;
        font-weight: 300;
    }
    .back .btn {
        font-size: 15px;
    }
}
@media(max-width: 700px) {
.shop-items {
    flex-direction: column;
    align-items: center;
    }
    .shop-item {
        height: 250px;
        width: 70%;
    }
    .contact .contacts p {
        font-size: 12px;
    }
    .contact .copy-right p {
        font-size: 13px;
    }
    .cart-total {
        left: 200px;
    }
}

@media(max-width: 500px) {
    body {
        padding: 2rem 2rem 0 2rem;
    }
    .content-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .shop-item {
        height: 180px;
        width: 80%;
    }
    .section-header {
        font-size: 1.2em;  
    }
    .header-tree {
        font-size: 1em;
    }
    .cart-total-title {
        font-size: 1em;
    }
    .cart-total-price {
        font-size: 1em;
    }
    .cart-total {
        bottom: 40px;
        position: absolute;
        text-align: center;
        padding: 0.5rem;
        width: fit-content;
        letter-spacing: 3px;
        margin: 1rem;
        cursor: default;
        left: 150px;
    }
    .contact .contacts p {
        font-size: 10px;
    }
    .cart-item {
        width: 39%;
    }
    .cart-column {
        margin-right: 0.5em;
    }
    .cart-item-title {
        font-size: 1em;
    }
}

@media(max-width: 400px) {
    .shop-item {
        height: 180px;
        width: 100%;
    }
    .contact .contacts p {
        font-size: 8px;
    }
    .cart-quantity-input {
        height: 30px;
        margin-right: 10px;
        font-size: 1em;
    }
    .cart-item-image {
        width: 50px;
    }
    .cart-total {
        left: 100px;
    }
}